<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" version="23.1.0" />
  <package id="7zip.install" version="23.1.0" />
  <package id="adobereader" version="2022.003.20282" />
  <package id="chocolatey" version="2.1.0" />
  <package id="chocolatey-compatibility.extension" version="1.0.0" />
  <package id="chocolatey-core.extension" version="1.4.0" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.5" />
  <package id="curl" version="8.1.2" />
  <package id="docker-desktop" version="4.21.1" />
  <package id="dosbox" version="0.74.3.0" />
  <package id="dotnetfx" version="4.8.0.20220524" />
  <package id="Ghostscript" version="10.0.0.20230317" />
  <package id="Ghostscript.app" version="10.0.0.20230317" />
  <package id="gimp" version="2.10.34" />
  <package id="git" version="2.41.0" />
  <package id="git.install" version="2.41.0" />
  <package id="gnupg" version="2.4.0" />
  <package id="hackfont" version="3.003" />
  <package id="imagej" version="1.53" />
  <package id="imagemagick" version="7.1.1.1200" />
  <package id="imagemagick.app" version="7.1.1.1200" />
  <package id="irfanview" version="4.62" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="miktex.install" version="22.10" />
  <package id="msys2" version="20230526.0.0" />
  <package id="nano" version="7.2.25" />
  <package id="nano-win" version="7.2.25" />
  <package id="nodejs" version="20.4.0" />
  <package id="nodejs.install" version="20.4.0" />
  <package id="pandoc" version="3.1.4" />
  <package id="pdftk" version="2.02" />
  <package id="prusaslicer" version="2.6.0" />
  <package id="python3" version="3.11.4" />
  <package id="strawberryperl" version="5.32.1.1" />
  <package id="sumatrapdf" version="3.4.6" />
  <package id="sumatrapdf.install" version="3.4.6.20220629" />
  <package id="unrar" version="5.30" />
  <package id="unzip" version="6.0" />
  <package id="vcredist140" version="14.36.32532" />
  <package id="vcredist2010" version="10.0.40219.32503" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="vim" version="9.0.1672" />
  <package id="zip" version="3.0" />
</packages>